table {
  width: 89.8vw;
  padding: 0 40px;
     @media only screen and (max-width: 1000px) {
         width: 60vw;
         padding:0px;
      } 
}
h1 {
  margin-top: 20px;
  font-size: 30px;
}
h2 {
  text-align: center;
}
div {
  border: 10px black;
  border-color: black;
}
.mat-elevation-z8 {
  box-shadow: none;
}
.add{
  padding: 10px 30px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px;
}
.add:hover {
  background-color: #45a049;
}